body{
  background-color: #1A5276;
  margin: 50px;
  background-image: url(https://images.unsplash.com/photo-1519744346361-7a029b427a59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-size: cover;
  background-clip: padding-box;
  backface-visibility:hidden;
  background-attachment: scroll;
  background-position: center;
  font-family: 'Courgette', cursive;
  font-size: 1.5rem;
}
button{
  display: grid;
  color: white;
}
h1{
  color: #5D6D7E ;
  text-align: center;
}
h2{
  color: white;
  text-align: center;
  text-decoration: underline;

}
p{
  color:white;
}
a{
  color: blue;
}
.dice{
  text-decoration: none;
  text-transform: capitalize;
  color:silver;
}
.container{
  color: white;
  font-family: 'Courgette', cursive;
  font-size: 2rem;
}
.jumbotron{
  background-color: #bbbbbb;
}
#input{
margin-bottom: 2rem;
  text-align: center;
  color: black;
}
label{
  color: white;
}
